<div class="root">
    <div class="onBtn" (click)="toggleOn()"  >

        <svg width="121" height="125" viewBox="0 0 121 125" fill="none" xmlns="http://www.w3.org/2000/svg" appTurnOnBtn>
            <g filter="url(#filter0_i)">
            <path d="M34.5 27L28.6419 33.2439C12.6523 50.2867 13.0007 76.9223 29.4307 93.5409V93.5409C46.3792 110.684 74.0431 110.758 91.084 93.7064V93.7064C107.734 77.0468 108.087 50.1563 91.8787 33.0667L86.125 27" stroke="#29CB6A" stroke-width="12"/>
            </g>
            <g filter="url(#filter1_i)">
            <path d="M60 0V65" stroke="#29CB6A" stroke-width="11"/>
            </g>
            <defs>
            <filter id="filter0_i" x="10.8752" y="22.8712" width="98.9314" height="93.5755" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
            </filter>
            <filter id="filter1_i" x="54.5" y="0" width="11" height="69" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
            </filter>
            </defs>
            </svg>
            
    </div>

    <div class="colorPicker" >
        <div class="color" *ngFor="let color of colors" (click)="colorClicked($event, color)" appSetActive></div>

 

    </div>


</div>